/* h1{

    color: #c8d8e4;
    

}

h2{

    color: #c8d8e4;

}


p{
    color: #f2f2f2;
}


body{

    background-color: #2b6777;
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
   
}

a{
    color: #52ab98;
} */
